DATABASE_URL=
PORT=8080
JWT_SECRET=
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
REFRESH_TOKEN_SECRET=
VERIFY_TOKEN_SECRET=
RESET_TOKEN_SECRET=
PEPPER=
NODEMAILER_EMAIL=
NODEMAILER_PASS=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CRON_TIMEZONE=Asia/Jakarta
RUN_EXPIRATION_SWEEP_ON_STARTUP=false
